/* basa2.html(ヘッダーとフッター) */

header {
    background-color: rgb(247, 227, 204);
    height: 44px;
    width: 100%;
    top: 0;
    margin: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    position: relative;
}

.edit {
    color: dimgray;
    text-align: center;
    position: relative;
    width: 100%;
    /* margin-top: 0%; */
}

footer {
    background-color: rgb(228, 188, 155);
    height: 85px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 320px;
}

a {
    color: dimgray;
}