<!-- もともとのやつ -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/style.css">
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
<title>画像編集</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

{% extends 'base2.html' %}
{% block content %}

<body onload="loadImage('preview');">

<!-- <header>
    <div class="header-logo">おもいで<br>コラージュ</div>
</header> -->
<!-- <h5 class="edit">テキスト・画像編集</h5> -->
<!-- <div class="text_edit">いつ？</div>
<div class="text_edit">どこで？</div>
<div class="text_edit">どうした？</div> -->

<form>
    <input type="file" accept='image/*' onchange="previewImage(this);" class="file">
    </form>
    <p class="preview">
    
    <!-- プレビュー<br> -->
    
    <!-- <canvas id="preview" style="max-width:480px;"></canvas> -->
    </p>
    <p>
    <input type="text" id="canvas_text" value="文字を入力してください" size="50" style="font-size: 16px;" class="input">
    <button onclick="drawText('preview', 'canvas_text');">文字を描く</button>
    <!-- <button onclick="saveCanvas('preview');">保存する</button> -->
    </p>


  <canvas id="preview" width="500" height="300" style="border: solid 1px #000;box-sizing: border-box;"></canvas>
  
  <div class="option">
    <!-- <p class="pen">ペンの選択</p> -->
    <div class="color">
      色：
      <a href="" class="black" data-color="0, 0, 0, 1"></a>
      <a href="" class="red" data-color="255, 0, 0, 1"></a>
      <a href="" class="blue" data-color="0, 0, 255, 1"></a>
      <a href="" class="green" data-color="0, 128, 0, 1"></a>
      <a href="" class="white" data-color="255, 255, 255, 1"></a>
    </div>
    <div class="bold">
      太さ：
      <a href="" class="small" data-bold="1">小</a>
      <a href="" class="middle" data-bold="5">中</a>
      <a href="" class="large" data-bold="10">大</a>
    </div>
  </div>
  <input type="button" value="clear" id="clear">
  <a id="download" href="#" download="canvas.jpg">ダウンロード</a>
  <div id="result"><img src=""></div>
 

  <script type="text/javascript">



function previewImage(obj)
{
	var fileReader = new FileReader();
	fileReader.onload = (function() {
		var canvas = document.getElementById('preview');
		var ctx = canvas.getContext('2d');
		var image = new Image();
		image.src = fileReader.result;
		image.onload = (function () {
			canvas.width = 500;
			canvas.height = 300;
			ctx.drawImage(image, 0, 0, 500, 300);
		});
	});
	fileReader.readAsDataURL(obj.files[0]);
}

//キャンバスに文字を描く
function drawText(canvas_id, text_id)
{
	var canvas = document.getElementById(canvas_id);
	var ctx = canvas.getContext('2d');
	var text = document.getElementById(text_id);

	// ctx.fillStyle = "rgba(255, 255, 255, 0.5)"
	// ctx.filiReact(16,16,48,48);

	//文字のスタイルを指定
  ctx.font = '40px serif';
	ctx.fillStyle = '#404040';
	//文字の配置を指定（左上基準にしたければtop/leftだが、文字の中心座標を指定するのでcenter
	ctx.textBaseline = 'center';
	ctx.textAlign = 'center';
	//座標を指定して文字を描く（座標は画像の中心に）
	var x = (canvas.width / 2);
	var y = (canvas.height / 2);
	ctx.fillText(text.value, x, y);
}
function toBlob(base64) {
	var bin = atob(base64.replace(/^.*,/, ''));
	var buffer = new Uint8Array(bin.length);
	for (var i = 0; i < bin.length; i++) {
		buffer[i] = bin.charCodeAt(i);
	}
	var blob = new Blob([buffer.buffer], {type: 'image/png'});
	return blob;
}
//
function saveCanvas(canvas_id)
{
	var canvas = document.getElementById(canvas_id);
	var uri = canvas.toDataURL('image/jpeg', 0.85);
	if (canvas.msToBlob) { //IE対応
		var blob = toBlob(uri);
		window.navigator.msSaveBlob(blob, 'download.jpg');
	} else {
		//アンカータグを作成
		var a = document.createElement('a');
		a.href = uri;
		a.download = 'download.jpg';
		//クリックイベントを発生させる
		a.click();
	}
}




// お絵描き
    var cnvs = document.getElementById('preview');
    var ctx = cnvs.getContext('2d');
 
    // 変数宣言
    const cnvWidth = 500;
    const cnvHeight = 300;
    var cnvColor = "255, 0, 0, 1";  // 線の色
    var cnvBold = 5;  // 線の太さ
    var clickFlg = 0;  // クリック中の判定 1:クリック開始 2:クリック中
    var bgColor = "rgb(255,255,255)";
 
    // canvasの背景色を設定(指定がない場合にjpeg保存すると背景が黒になる)
    setBgColor();
 
    // canvas上でのイベント
    $("#preview").mousedown(function(){
      clickFlg = 1; // マウス押下開始
    }).mouseup(function(){
      clickFlg = 0; // マウス押下終了
    }).mousemove(function(e){
      // マウス移動処理
      if(!clickFlg) return false;
      draw(e.offsetX, e.offsetY);
    });
 
    // 描画処理
    function draw(x, y) {
      ctx.lineWidth = cnvBold;
      ctx.strokeStyle = 'rgba('+cnvColor+')';
      // 初回処理の判定
      if (clickFlg == "1") {
        clickFlg = "2";
        ctx.beginPath();
        ctx.lineCap = "round";  //線を角丸にする
        ctx.moveTo(x, y);
      } else {
        ctx.lineTo(x, y);
      }
      ctx.stroke();
    };
 
    // 色の変更
    $(".color a").click(function(){
      cnvColor = $(this).data("color");
      return false;
    });
 
    // 線の太さ変更
    $(".bold a").click(function(){
      cnvBold = $(this).data("bold");
      return false;
    });
 
    // // 描画クリア
    $("#clear").click(function(){
      ctx.clearRect(0,0,cnvWidth,cnvHeight);
      setBgColor();
    });
 
    // canvasを画像で保存
    $("#download").click(function(){
      canvas = document.getElementById('preview');
      var base64 = canvas.toDataURL("image/jpeg");
      document.getElementById("download").href = base64;
    });
 
    function setBgColor(){
      // canvasの背景色を設定(指定がない場合にjpeg保存すると背景が黒になる)
      ctx.fillStyle = bgColor;
      ctx.fillRect(0,0,cnvWidth,cnvHeight);
    }


// スマホ対応ここから
window.addEventListener("load", function () {

// 必要な変数を宣言しておく
var canvas = document.getElementById("preview");
var c = canvas.getContext("2d");
var w = 500;
var h = 300;
var drawing = false;
var oldPos;

// CanvasとContextを初期化する
canvas.width = w;
canvas.height = h;
c.strokeStyle = "#000000";
c.lineWidth = 5;
c.lineJoin = "round";
c.lineCap = "round";

// タップ開始時に、絵を描く準備をする
canvas.addEventListener("touchstart", function (event) {
  drawing = true;
  oldPos = getPosT(event);
}, false);

// タップ終了時に、絵を描く後処理を行う
canvas.addEventListener("touchend", function () {
  drawing = false;
}, false);

// gestureイベント（２本指以上で触ると発生するやつ）の
// 終了時にも絵を描く後処理を行う
canvas.addEventListener("gestureend", function () {
  console.log("mouseout");
  drawing = false;
}, false);

// 実際に絵を描く処理
// 前回に保存した位置から現在の位置迄線を引く
canvas.addEventListener("touchmove", function (event) {
  var pos = getPosT(event);
  if (drawing) {
    c.beginPath();
    c.moveTo(oldPos.x, oldPos.y);
    c.lineTo(pos.x, pos.y);
    c.stroke();
    c.closePath();
    oldPos = pos;
  }
}, false);

// タップ位置を取得する為の関数群
function scrollX(){return document.documentElement.scrollLeft || document.body.scrollLeft;}
function scrollY(){return document.documentElement.scrollTop || document.body.scrollTop;}
function getPosT (event) {
  var mouseX = event.touches[0].clientX - $(canvas).position().left + scrollX();
  var mouseY = event.touches[0].clientY - $(canvas).position().top + scrollY();
  return {x:mouseX, y:mouseY};
}
                                 
// 色と線の太さを設定する関数
$("#black").click(function () {c.strokeStyle = "black";});
$("#blue").click(function () {c.strokeStyle = "blue";});
$("#red").click(function () {c.strokeStyle = "red";});
$("#green").click(function () {c.strokeStyle = "green";});
$("#small").click(function () {c.lineWidth = 5;});
$("#middle").click(function () {c.lineWidth = 10;});
$("#large").click(function () {c.lineWidth = 20;});

// 削除ボタンの動作                                 
$("delete_button").click(function () {
  c.clearRect(0, 0, $(canvas).width(), $(canvas).height());
});

}, false);

// ブラウザのデフォルト動作を禁止する関数
// 指での捜査時に、ビヨーンと画面外が表示される箇所とかを防ぐ
// ただし、liやbuttonといった色変更や太さ変更や削除機能を持つ
// 要素は、その動作をさせたいので、デフォルド動作禁止から除外する
function stopDefault(event) {
if (event.touches[0].target.tagName.toLowerCase() == "li") {return;}
if (event.touches[0].target.tagName.toLowerCase() == "input") {return;}

event.preventDefault();
}

// タッチイベントの初期化
document.addEventListener("touchstart", stopDefault, false);
document.addEventListener("touchmove", stopDefault, false);
document.addEventListener("touchend", stopDefault, false); 
// ジェスチャーイベントの初期化
document.addEventListener("gesturestart", stopDefault, false);
document.addEventListener("gesturechange", stopDefault, false);
document.addEventListener("gestureend", stopDefault, false); 


    
  </script>


</body>

{% endblock %}

</html>